{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content %}
<form action="/login" method="POST" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="username" {% if last_user %}value="{{ last_user }}" {% endif %}/>
    <input type="password" name="password" placeholder="password" />
    <input type="checkbox" name="remember" checked>
    <label for="remember">remember me</label><br />
    <input type="submit" value="login" />
</form>
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
{% endblock %}
