{% extends "base.html" %}
{% block title %}register{% endblock %}
{% block content %}
to be implemented...
<form action="/register" method="POST" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="username" />
    <input type="email" name="email" placeholder="e-mail (optional)"/>
    <input type="password" name="password" placeholder="password" />
    <input type="submit" value="register" />
</form>
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
{% endblock %}
